<html>
<body>

<h1>Edit your account</h1>

<hr />

<h2>Your avatar</h2>

<div id="camera" style="width:1280px; height:720px;"></div>
<a href="javascript:void(take_snapshot())">Take Snapshot</a>
<div id="result"></div>

<input type="file" id="files"/>
<p id="status">Please select a file</p>
<div style="border:1px solid gray;width:300px;"  id="preview"><img src="/images/default.png" style="width:300px;" /></div>

<h2>Your information</h2>

<form method="POST" action="/submit_form/">
    <input type="hidden" id="avatar_url" name="avatar_url" value="/public/images/default.png" />
    <input type="text" name="username" placeholder="Username" /><br />
    <input type="text" name="full_name" placeholder="Full name" /><br /><br />
    
    <hr />
    <h2>Save changes</h2>

    <input type="submit" value="Update profile" />
</form>

<script type="text/javascript" src="/javascripts/s3upload.js"></script>
<script type="text/javascript" src="/javascripts/webcam.js"></script>

<script type="text/javascript">
var status_elem = document.getElementById("status");
var url_elem = document.getElementById("avatar_url");
var preview_elem = document.getElementById("preview");

function s3_upload(){
    var s3upload = new S3Upload({
        file_dom_selector: 'files',
        s3_sign_put_url: '/sign_s3',
        onProgress: function(percent, message) {
            msg = 'Upload progress: ' + percent + '% ' + message;
            console.log(msg);
            status_elem.innerHTML = msg;
        },
        onFinishS3Put: function(public_url) {
            msg = 'Upload completed. Uploaded to: '+ public_url;
            console.log(msg);
            status_elem.innerHTML = msg;
            url_elem.value = public_url;
            preview_elem.innerHTML = '<img src="'+public_url+'" style="width:300px;" />';
        },
        onError: function(status) {
            msg = 'Upload error: ' + status;
            console.log(msg);
            status_elem.innerHTML = msg;
        }
    });
}

function take_snapshot() {
    Webcam.snap( function(image_data_uri) {
        document.getElementById('result').innerHTML = '<img src="'+image_data_uri+'"/>';

        var image_fmt = '';
        if (image_data_uri.match(/^data\:image\/(\w+)/))
            image_fmt = RegExp.$1;
        else
            throw "Cannot locate image format in Data URI";
        var raw_image_data = image_data_uri.replace(/^data\:image\/\w+\;base64\,/, '');
        var file = new Blob( [ Webcam.base64DecToArr(raw_image_data) ], {type: 'image/'+image_fmt} );
        
        var s3upload = new S3Upload({
            file: file,
            s3_object_name: Date.now() +'.jpg',
            s3_sign_put_url: '/sign_s3',
            onProgress: function(percent, message) {
                msg = 'Upload progress: ' + percent + '% ' + message;
                console.log(msg);
                status_elem.innerHTML = msg;
            },
            onFinishS3Put: function(public_url) {
                msg = 'Upload completed. Uploaded to: '+ public_url;
                console.log(msg);
                status_elem.innerHTML = msg;
                url_elem.value = public_url;
                preview_elem.innerHTML = '<img src="'+public_url+'" />';
            },
            onError: function(status) {
                msg = 'Upload error: ' + status;
                console.log(msg);
                status_elem.innerHTML = msg;
            }
        });
    } );
}

(function() {
    var input_element = document.getElementById("files");
    input_element.onchange = s3_upload;

    Webcam.set({
        width: 1280,
        height: 720,
        image_format: 'jpeg',
        jpeg_quality: 90
      });
      Webcam.attach( '#camera' );
})();
</script>
</body>
</html>
